body {
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    background-color: #c91820;
    height: 275px;
    width: 100%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.header > .header-content {
    display: flex;
    width: 1175px;
    justify-content: space-between;
    align-items: center;
}

.header > .header-content > .banner-image img {
    display: flex;
    height: 250px;
}

.header > .header-content > .title-links  {
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 2em;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 700px; */
    padding-right: 175px;
    /* grid-gap: 30px; */
    /* width: 100px; */
    /* margin-right: 45px; */
}
.header > .header-content > .title-links a {
    text-decoration: none;
    color: #241f5d;
    transition: 1s;
}

.header > .header-content > .title-links a:hover {
   color: #edc112;
   letter-spacing: 5px;
}

.header > .header-content > .title-links > .link {
    width: 170px;
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
    /* margin-left: 25px; */
}
.homepage-wrapper {
    background-color: #0E3858;
    display: flex;
    justify-content: center;
    /* padding-bottom: 100px; */
}

.homepage-wrapper > .homepage-content {
    width: 60%;
    padding-top: 50px;
}

.homepage-wrapper > .homepage-content > .homepage-info-wrapper {
    font-size: 2.2em;
    line-height: 2em;
    font-family: 'Oswald', sans-serif;
    color: white;
}
.homepage-wrapper > .homepage-content > .homepage-info-snippet {
    font-size: 2.2em;
    line-height: 2em;
    font-family: 'Oswald', sans-serif;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

.homepage-wrapper > .homepage-content > .homepage-image {
    /* margin: 23px 40px 20px 0px ; */
    width: 300px;
    float: left;
    padding-top: 20px;
}

.homepage-wrapper > .homepage-content > .homepage-image img{
    width: 250px;
    height: 325px;
}