body {
    margin: 0;
}

.header {
    display: flex;
    background-color: white;
    height: 100px;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
}

.header > .header-content {
    width: 63%;
}

.header > .header-content > .header-title {
    font-family: 'Oswald', sans-serif;
    font-size: 2.2em;
    font-weight: 500;
    color: black;
}

.gold-bar {
    background-color: #edc112;
    height: 5px;
}

.header > .header-content > .title-links {
    display: flex;
    justify-content: right;
    font-family: 'Oswald', sans-serif;
}

.header > .header-content > .title-links a {
    text-decoration: none;
    color: #edc112;
}

.header > .header-content > .title-links > .link {
    width: 70px;
    padding-left: 5px;
}
.services-wrapper {
    background-color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 75px;
}

.services-wrapper > .services-info-wrapper {
    width: 55%;
}


.services-wrapper > .services-info-wrapper > .services-bullet-point1 {
    display: flex;
    justify-content: space-between;
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 2.3em;
    line-height: 1.5em;
}

.services-wrapper > .services-info-wrapper > .services-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-wrapper > .services-info-wrapper > .services-images img{
    width: 300px;
}

.services-wrapper > .services-info-wrapper > .services-images img{
    width: 300px;
}

.services-wrapper > .services-info-wrapper > .services-images > .services-image1 img{
    width: 400px;
}

.services-wrapper > .services-info-wrapper > .services-images > .services-image2 img{
    width: 300px;
}